.hidden {
    display: none;
}
 
.container {
    width: 428px;
    margin: 0 auto;
    box-shadow: 2px 1px 20px 20px #98c1d9;
    /* text-align: center; */
}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
   
    grid-template-columns: repeat(4, 77px);
    grid-column-gap:30px;
}
#main-header{
    grid-column:1/-1;
    
        box-shadow: 2px 1px 20px 20px #98c1d9;
   
}


#header-logo{ 
    grid-column: 1/2;
   
}
#burger{
    height: 40px;
    width: 80px;
    grid-column: 4/-1;
  
  
   padding: 0px;
   margin-bottom: 0px;
   
    
}
#hero-image{
    grid-column: 1/-1;
    padding: 0px;
    margin: auto;
    
}

#new-arrivals h2 {
    text-align: center;
    grid-column: 1/-1;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}


#new-arrivals img {
    grid-column: 1/-1;}

#new-arrivals {
    box-shadow: 2px 1px 10px 0px #98c1d9;
}
#new-arrivals h2:hover{
    color: #98c1d9;
    transition: 1s ease;
}
    
#banner h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}


 #banner{
     font-size: 16px;
   
     background-color: black;
     color: aliceblue;
     width: 400px;
 }   
#banner h2:hover{
    font-size: 16px;
    transition: 1s ease;
}

 #buy-now{
    margin-top: 30px;
    grid-column: 3/-1;
    padding-left: 70px;

 }
 #buy-now a {
   
  
    
  
  color: #fff;
  text-decoration: none;


 
    
 }
 #buy-now a:hover{
    background-color: #98c1d9;
    color: black;
    font-size: 20PX;
    transition: 1s;
    border: 2px solid white;
  
}


 #collection  {
    display: inline;
    text-align:  center;
   
    

 }

 
  #collection div a{
    color: grey;
    font-size:30px;
 
    
    text-decoration: none;
    margin-bottom: 30px;
   
   
  }
  #collection h2{
    text-align: center;
   
    font-size: 50px;
    
  } 
  #collection h2:hover{
    color: #98c1d9;
    transition: 1s ease;
  }

#beer img{
   grid-column: 1/-1;
   padding-left: 78px;
  
}
#beer a {
    text-align: center;
    grid-column: 1/-1;
}
#vodka img{
    grid-column: 1/-1;
    padding-left: 78px;
   
 }
 #vodka a {
     text-align: center;
     grid-column: 1/-1;
 }
 #wine img{
    grid-column: 1/-1;
    padding-left: 78px;
   
 }
 #wine a {
     text-align: center;
     grid-column: 1/-1;
 }
 #gin img{
    grid-column: 1/-1;
    padding-left: 78px;
   
 }
 #gin a {
     text-align: center;
     grid-column: 1/-1;
 }

  #contact-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	margin-bottom: 10px;
	font-size: 25px;
	height: 300px;
	
}
#contact-form textarea {
    height: 300px;
	
}
input, textarea {
    padding: 12px;
   border: 2px solid ;
    border-radius:  15px;
    
    margin-bottom: 30px;
    font: inherit;
	font-size: 15px;
	
	
}
input[type="submit"] {
    width: 150px;
    padding: 16px 32px;
   
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    align-self: center;
    background-color: #000;
}

input[type="submit"]:hover {
    background-color: skyblue;
    border-radius: 0;
}


#contact-form {
	grid-column: 1/-1;
	margin-bottom: 30px;
	font-family: 'Times New Roman', Times, serif;
	
	
	
	
}

#contact-form form {
    display: flex;
    flex-direction: column;}
  
 
    
    #footer-nav ul{
        grid-column: 1/4;
        list-style: none;
        font-size: 19px;
        
        margin: 0;
    }
     #footer-nav ul li {
        display: inline;
        padding-top: 30px;
     }
     
     #footer-nav ul li a{ color:black;
   
   
   padding-bottom: 6px;
    
   
    
text-decoration: none;}
    
    #footer-logo{
        grid-column: 1/-1;
        margin-top: 35px;
        width: 200px;
        height: 80px;
        
    } 
    
    #footer p{
        grid-column: 1/-1;
    }
    #footer{
        box-shadow: 2px 1px 10px 10px #98c1d9;
    }
 /* new arrival page rules goes here*/

#new-arrival h2{
    font-size: 30px;
    margin: auto;
    padding-top: 30px;
    padding-left: 15px;
}


 #new-arrival p{
    font-size: 20px;
   text-align: right;
   color: goldenrod;
   
    margin: 0;
    padding: 0;
    padding-right: 10px;
   
   
    
    
}
#footer{
    background-image: url(../IMAGES/footer-mobile-80.jpg);
}
    


#white-ultra img{
    grid-column: 1/4;
    padding-top: 20px;
   
}

#white-ultra h2{
    font-size: 20PX;
    grid-column: 1/3;
    padding-left: 20px;
    padding-top: 10px;
    
  
    
  
   

}
#white-ultra a{
    color: white;
    grid-column: 3/-1;
   font-size: 20px;
   padding-top: 18px;
   padding-left: 60px;
   background-color: #000;
 
  

  text-decoration: none;
 
}

#white-ultra a:hover{
    background-color: #98c1d9;
    transition: 1s ease;
  
}

#golden img{
    grid-column: 1/4;
    padding-top: 20px;
}

#golden h2{
    font-size: 20PX;
    grid-column: 1/3;
    padding-left: 20px;
    padding-top: 10px;
   

}
#golden a{
    color: white;
    grid-column: 3/-1;
   font-size: 20px;
   padding-top: 18px;
   padding-left: 60px;
   background-color: #000;
 
  

  text-decoration: none;
 
}
#golden a:hover{
    background-color: #98c1d9;
    transition: 1s ease;
  
}




#ultra-golden img{
    grid-column: 1/4;
    padding-top: 20px;
}

#ultra-golden h2{
    font-size: 20PX;
    grid-column: 1/3;
    padding-left: 20px;
    padding-top: 10px;
   

}
#ultra-golden a{
    color: white;
    grid-column: 3/-1;
   font-size: 20px;
   padding-top: 18px;
   padding-left: 60px;
   background-color: #000;
 
  

  text-decoration: none;
 
}
#ultra-golden a:hover{
    background-color: #98c1d9;
    transition: 1s ease;
  
}



#RED-EYE img{
    grid-column: 1/4;
    padding-top: 20px;
}

#RED-EYE h2{
    font-size: 20PX;
    grid-column: 1/3;
    padding-left: 20px;
    padding-top: 10px;
   

}
#RED-EYE a{
    color: white;
    grid-column: 3/-1;
   font-size: 20px;
   padding-top: 18px;
   padding-left: 60px;
   background-color: #000;
 
  

  text-decoration: none;
 
}
#RED-EYE a:hover{
    background-color: #98c1d9;
    transition: 1s ease;
  
}


